@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
  font-size: 36px;
  color: #152335;
}

body {
  background-image: url('./img/leaves-pattern.png');
  font-family: 'Montserrat', sans-serif;
}

.appWrapper {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  margin: 15px auto;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
